Adafruit-Blinka==8.50.0
adafruit-circuitpython-bme280==2.6.26
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-fram==1.3.23
adafruit-circuitpython-pn532==2.4.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.76.1
Adafruit-PureIO==1.1.11
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-jinja2==1.6
aiosignal==1.3.2
attrs==24.3.0
binho-host-adapter==0.1.6
click==8.1.8
frozenlist==1.5.0
hidapi==0.14.0.post4
idna==3.10
Jinja2==3.1.5
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
msgpack==1.1.0
multidict==6.1.0
platformdirs==4.3.6
propcache==0.2.1
pyftdi==0.56.0
Pygments==2.19.0
pyserial==3.5
pyusb==1.3.0
rich==13.9.4
setuptools==75.7.0
textual==1.0.0
textual-dev==1.7.0
textual-serve==1.1.1
typing_extensions==4.12.2
uc-micro-py==1.0.3
wheel==0.45.1
yarl==1.18.3
